
.generate-plan-container {
    padding-top: 100px;
    height: calc(100% - 100px);
    .generate-section {
        width: 80%;
        margin: 0px auto;
        border-radius: 8px;
        background: white;
        padding: 20px;
        min-height: 300px;
    }
    .loading-container {
        width: 80%;
        margin: 0px auto;
        border-radius: 8px;
        background: white;
        padding: 20px;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    .center {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    h2 {
        color: #063f75;
    }
    .blue-section {
        background-color: #e1f0ff;
        padding: 10px 20px;
        h2 {
            margin: 0;
            color: #0062bd;
        }
    }
    .green-section {
        background-color: #93cbff;
        padding: 10px 20px;
        h2 {
            margin: 0;
            color: #0062bd;
        }
    }
    .ant-card {
        width: 100%;
        .ant-card-head {
            background-color: #fbfbfb;
        }
        .ant-card-head-title {
            .title-value {
                margin: 0 6px;
                font-size: 17px;
                color: #0062bd;
                text-transform: capitalize;
            }
            .time-section {
                color: gray;
            }
        }

    }
    .ant-timeline {
        width: 90%;
        .ant-timeline-item {
            padding: 32px;
            border-radius: 8px;
             &:hover {
              background-color: rgb(252, 252, 252);
            }
            .ant-timeline-item-content {
              top: none;
              position: relative;
              .vehicle-section {
                  position: absolute;
                  top: calc(-32px - 12.5px);
                  height: 25px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  span {
                      margin: 4px;
                      font-size: 16px;
                      color: #1890FF;
                  }
                  .ant-divider-vertical {
                      margin: 0 6px;
                      border-color: #1890FF;
                  }
              }
            }
            .ant-timeline-item-head {
              top: 50%;
            }
            .ant-timeline-item-tail {
              top: 0;
              left: 36px;
              height: 100%;
            }
            &:last-child {
                .ant-timeline-item-tail {
                    height: 50%;
                    display: block;
                  }
            }
        }
        .ant-timeline-item-last > .ant-timeline-item-tail {
            height: 50%;
            display: block;
        }
    }
}

.modal-plan-container {

}