.home-container {
  .bg-container {
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 600px;
  }
  .route-container {
    width: 80%;
    margin: 0px auto;
    border-radius: 8px;
    background: white;
    padding: 20px;
    min-height: 300px;
  }
  .loading-container {
    width: 80%;
    margin: 0px auto;
    border-radius: 8px;
    background: white;
    padding: 20px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
