.home-container {
  padding-bottom: 50px;
  .route-container {
    width: 80%;
    margin: 0px auto;
    border-radius: 8px;
    background: white;
    padding: 20px;
    min-height: 300px;

    h1 {
      color: #063f75;
    }
  }
  .loading-container {
    width: 80%;
    margin: 0px auto;
    border-radius: 8px;
    background: white;
    padding: 20px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
